@import url('./fonts/SegoeUI/Font.css');

html {
	background-color: #ffffff;
}

body {
	color: #000000;
	text-rendering: optimizelegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	min-height: 100vh;
	user-select: none;
}

* {
	font-family: "Segoe UI", SegoeUI;
	font-style: normal;
	font-size: 1rem;

	margin: 0;
	padding: 0;

	transition: all 0.3s ease;
}

img {
	pointer-events: none;
}

:is(h1, h2, h3, h4, h5, h6) {
	font-size: 1.7rem;
	color: inherit;
	padding: 0;
	margin: 0;
}