@import "tailwindcss";
@config "../tailwind.config.ts";

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/
:root {
	--background: hsl(224 27% 8%);
	--foreground: hsl(0 0% 100%);

	--card: hsl(224 18% 12%);
	--card-foreground: hsl(0 0% 95%);

	--primary: hsl(224 27% 8%);
	--primary-foreground: hsl(0 0% 100%);

	--secondary: hsl(224 18% 12%);
	--secondary-foreground: hsl(0 0% 95%);

	--muted: hsl(0, 0%, 37%);
	--muted-foreground: hsl(0 0% 65%);

	--accent: hsl(224 27% 8%);
	--accent-foreground: hsl(0 0% 100%);

	--destructive: hsl(0 91% 71%);
	--destructive-foreground: hsl(0 0% 95%);

	--border: hsl(225 15% 15%);
	--ring: hsl(225 15% 15%);

	--text-muted: hsl(0 0% 70%);

	--radius: 0.4rem;
}

p {
	@apply leading-normal;
}

body {
	@apply bg-background text-foreground leading-none;

	text-rendering: optimizelegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

	width: 100%;
	min-height: 100vh;
	user-select: none;

}

img {
	pointer-events: none;
}

button {
	cursor: pointer;
	transition: all 0.3s ease;
}

.invert {
	-webkit-filter: invert(100%);
	/* safari 6.0 - 9.0 */
	filter: invert(100%);
}